.form {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

select {
	border: 0px;
	text-decoration: underline;
	margin: 0px;
	display: inline-block;
}

input {
	border: 0px;
	text-decoration: underline;
	display: inline-block;
	width: 200px;
}

.title {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 2%;
	
}
